.payment-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.payment-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    font-family: 'Poppins', sans-serif;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
}

.form-row {
    display: flex;
    justify-content: space-between;
}

.form-row .form-group {
    flex: 1;
    margin-right: 10px;
}

.form-row .form-group:last-child {
    margin-right: 0;
}

.total-amount {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    display: flex;
    gap: 25px;
}

.total-amount label {
    font-weight: bold;
    font-size: 20px;
}

.total-amount span {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.pay-button {
    background-color: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
}

.pay-button:hover {
    background-color: #0056b3;
}

.popup2 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%,0%);
    width: 1200px;
    z-index: 10;
}

.popup2 h3 {
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.popup2 .close-button3 {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    color: #000;
    cursor: pointer;
}

.card-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
}

.popup2 ul{
    display: flex;
    justify-content:center;
    width: 100%;
}
.select-card-button {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    width:500px;
    text-align: center;
}

.select-card-button:hover {
    background-color: #218838;
}
