
.saved-payment-methods {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header2 {
    margin-bottom: 20px;
}

.add-card-button {
    padding: 12px 24px; /* Slightly larger button */
    background-color: #179756;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px; /* Increased width */
    height: 180px; /* Increased height */
    padding: 30px; /* Increased padding */
    margin-bottom: 30px; /* Increased margin between cards */
    border: 1px solid #ccc;
    border-radius: 10px; /* Slightly rounder corners */
    background-color: #f9f9f9;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Larger shadow */
    position: relative;
}

.card-image {
    width: 120px; /* Increased width of image */
    height: 80px; /* Increased height of image */
    margin-right: 30px; /* More space between image and details */
}

.card-details {
    flex-grow: 1;
    font-size: 16px; /* Slightly larger text */
}

.card-options {
    position: relative;
}

.more-options-button {
    background-color: #179756;
    color: white;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.options-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Larger shadow */
    border-radius: 6px;
}

.update-button, .delete-button {
    display: block;
    padding: 12px;
    width: 110px; /* Slightly wider buttons */
    cursor: pointer;
    background-color: #179756;
    color: white;
    border: none;
    margin: 6px;
}

.update-button:hover, .delete-button:hover {
    background-color: #0056b3;
}

.card-emoji {
    font-size: 80px; /* Adjust the size of the emoji */
    margin-right: 20px;
  }