

 .container-order-history {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
}

.tab-status-filters {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  background-color: #edf3ef;
  border-radius: 8px;
  padding: 5px;
}

.filter-tab {
  flex: 1;
  padding: 10px;
  color: #fff;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  background-color: #084707;
}

.filter-tab:last-child {
  border-right: none;
}

.input-search-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.input-search-bar input {
  padding: 8px 12px;
  border: 2px solid #084707;
  border-radius: 5px;
  width: 300px;
  outline: none;
}

.card-order {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
}

.details-order {
  width: 70%;
}

id-order {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
}

details-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

details-item span {
  flex: 1;
  text-align: left;
  font-size: 16px;
  color: #084707;
}

amount-total {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px;
}

.section-status {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.section-status label {
  margin-right: 10px;
  font-weight: bold;
  color: #084707;
}

.select-status {
  min-width: 140px;
  font-size: 16px;
  height: 40px;
}


actions-order {
  text-align: right;
  margin-bottom: 140px;
}

actions-order p {
  font-size: 12px;
  color: #084707;
  margin-bottom: 10px;
}

button-updateadmin-order {
  background-color: #084707;
  color: #ffffff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button-update-adminorder:hover {
  background-color: #084707;
}

@media (max-width: 768px) {
  .container-order-history {
    padding: 10px;
  }

  .card-order {
    flex-direction: column;
    align-items: flex-start;
  }

  .details-order {
    width: 100%;
  }

  .actions-order {
    text-align: left;
    margin-top: 10px;
  }

  .tab-status-filters {
    flex-direction: column;
  }

  .filter-tab {
    margin-bottom: 5px;
  }

  .input-search-bar input {
    width: 100%;
  }
}
