* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.layout {
    box-sizing: border-box;
    overflow-y: auto; 
    display: grid;
    background-color: #F6F5F7;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 12vh auto 1fr 15vh;
    grid-template-areas: 
      "header header"
      "search search"
      "content content"
      "footer footer";
}

.side-inac {
    grid-template-columns: 0px 1fr;
}

.navbar {
    position: relative;
    height: fit-content;
    grid-area: header;
    background-color: #D9E6DB;
    display: flex;
    align-items: center; 
    padding: 10px 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.menu-i {
    position: relative;
    color: #084707;
    margin-right: 20px;
    cursor: pointer;
}

.logo {
    position: relative;
    width: 60px;
    height: auto;
    margin-right: 20px; 
}

.head-t {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    color: #084707;
    justify-content: center;
}

.logo-1{
    margin-top: 0px;
    position: relative;
    font-size:38px;
    font-weight: bold;
}
.logo-2{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    position: absolute;
    top:58px;
    margin-bottom:5px;
    
}

.link-c {
    display: flex;
    align-items: center; 
    margin-left: auto; 
}

.nav-link {
    display: flex;
    gap: 20px;
}

.link-n {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #084707;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 8px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.link-n:hover {
    background-color: #084707;
    color: #F6F5F7;
    transform: translateY(-3px); 
}

.link-n.active {
    background-color:#084707;
    color: #F6F5F7;
}

.lg-c {
    display: flex;
    gap: 10px; 
    margin-left: 20px;
}

.lg-i {
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #084707;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.lg-i:hover {
    background-color: #084707;
    color: #F6F5F7;
    transform: translateY(-3px); 
}

.sidebar1 {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 250px; 
    height: 100vh; 
    background-color: white;
    border-top-right-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
    z-index: 10;
    transition: all 0.6s ease;
    animation: slideIn 0.6s ease forwards;
   
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        left: 0;
    }
}

.layout.hidden {
    grid-template-columns: 0px 1fr;
}

.active {
    display: block;
}

.side1-header {
    color: white;
    padding: 10px;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: space-evenly;
    background-color: #084707;
}

.side1-h {
    font-weight: bold;
    font-size: 26px;
    text-align: center;
}

.close1-i {
    cursor: pointer;
}

.user-card {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #084707d6;
    gap:5px;
    background-color: #f1f9f2;
    flex-wrap: wrap;
}

.edit-bg {
    position: absolute;
    margin-top:60px;
    margin-left: 35px;
    background-color: white;
    padding: 3px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease;
}

.edit-bg:hover {
    cursor: pointer;
    transform: scale(1.2);}



.menu-items {
    margin: 10px 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon-card {
    font-family: 'Poppins', sans-serif;
    display: flex;
    gap: 10px;
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 0.6s ease;
    color: rgba(0, 0, 0, 0.808);
}

.icon-card:hover {
    background-color: #084707;
    color: white;
    cursor: pointer;
}

.icon-card.active {
    background-color: #084707;
    color: white;
}

.icon-a:hover {
    color: white;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: sticky; 
    top: 5px; 
    left: 50%;
    right: 0; 
    z-index:12; 
    width: 100%; 
    
}

.search-c input {
    padding: 10px;
    font-size: medium;
    border: 2px solid rgb(158, 156, 156);
    border-radius: 5px;
    width: 100%; 
    max-width: 600px; 
}

.browse-c select {
    padding: 10px;
    background-color: #084707;
    color: white;
    font-size: medium;
    outline: none;
    border: none;
}

.browse-c option{
    background-color: white;
    font-size: large;
    color: #084707;
    padding:15px;
    border-radius: none;
}


.searchbar-container {
    padding: 15px 15px;
    background-color: rgba(255, 255, 255, 0.534);
    display: flex;
    gap: 15px;
    width: fit-content;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.search-c {
    width: 600px;
}

.search-c input {
    padding: 10px;
    font-size: medium;
    border-radius: 5px;
    border: 2px solid rgb(158, 156, 156);
    width: 100%;
}

.search-c input:focus{
    border: 2px solid #084707;
}

.browse-c select {
    padding: 10px;
    background-color: #084707;
    color: white;
    font-size: medium;
}

.contents {
    flex-direction: column;
    display: flex;
    grid-area: content;
    height: fit-content;
    
}

.content-c {
    padding:5px;
    display: flex;
    flex-direction: column;
    gap:8px;
}

.slider-container {
    overflow: hidden;
    width: 100vw;
    height:620px;
    flex-direction: row;
    transition: all 0.8s ease-in-out;
}

.slider {
    display: flex;
    overflow: hidden;
    flex-direction: row;
    transition: all 0.8s ease-in-out;
}

.slider-wrapper {
    display: flex;
    transition: all 1s ease-in-out;
    flex-direction: row;
}

.slide {
    min-width: 100%;
    transition: all 0.8s ease-in-out;
}

.slide img {
    width: 100vw;
    height:620px;
    object-fit:cover;
}

.arrow1 {
    position: absolute;
    top: 50%;
    background-color:transparent;
    color: white;
    border: none;
    padding:5px 20px;
    cursor: pointer;
    z-index:9;
    width: fit-content;
    transform: translateY(-50%);
    font-size:48px;
    background-color:rgba(255, 255, 255, 0.32);
}

.left {
    left:8px;
}

.right {
    left: 94%;
}

.catergory-container{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 100vw;
    height: fit-content;
    background-color: white;
    padding: 25px 15px;
}

.card-h{
    position: relative;
    font-size:42px;
    color: #084707;
    font-family: 'poppins';
    text-align: center;
    margin-top: 10px;
}

.cardbox{
    display: flex;
    justify-content: center;
    gap:100px;
}
.c-box {
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #D9E6DB;
    width: 20%;
    padding: 25px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    transition: all 0.6s ease-in-out; 
    margin-bottom: 25px;
}


.c-box:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.65);
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
 }

 .search-p{
    animation: slideup 0.8s ease-in-out forwards;
    padding: 25px;
    align-self: center;
    background-color: white;
    width: calc(100vw - 250px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;}
    

 @keyframes slideup {
    from {
        opacity: 0;
        transform: translateY(80px); /* Start from below */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* End at original position */
    }
}

 .search-h{
    font-size:32px;
    color: rgba(0, 0, 0, 0.639);
 }

 .small-cards{
    margin: 25px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    gap: 15px;

 }

 .card:hover{
    transition: all 0.6s ease;
    transform: scale(1.1);
    cursor: pointer;
 }

 .card {
    transition: all 0.6s ease;
    text-align: center;
    padding:10px;
    margin: 10px;
    width: 220px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .card-image {
    text-align: center;
    width: 100%; 
    height: 150px; 
    object-fit: cover;
  }

.footer {
    grid-area: footer;
    position: relative;
}
