/* Main container for payment and billing */
.payment-billing-wrapper {
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  min-height: 100vh;
}

/* Heading for the payment and billing section */
.payment-billing-heading {
  text-align: center;
  margin-bottom: 30px;
  font-size: 2em;
  color: #333;
}

/* Container for billing details and order summary */
.content-wrapper {
  display: flex;
  gap: 0px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Billing details section */
.billing-section, .order-summary-section {
  flex: 1;
  margin: 10px;
  background-color: #D9E6DB;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  height: auto;
}

/* Heading for billing details */
.billing-section h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #333;
}

/* Input fields in the billing form */
.billing-section form input {
  width: 90%;
  padding: 12px;
  margin-bottom: 0px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

/* Style for the order items */
.order-item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}

.order-item-wrapper img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 8px;
  object-fit: cover;
}

/* Details text for each order item */
.order-details-text {
  line-height: 1.5;
}


.order-summary-section .payment-options-wrapper input[type="radio"] {
  margin-top: 10px; 
  margin-right: -510px;
}

/* Disclaimer and terms text */
.order-summary-section .disclaimer-text, .order-summary-section .terms-text {
  font-size: 0.9em;
  color: #666666;
}


.terms-checkbox-wrapper label {
  font-size: 0.9em;
  color: #333;
  padding-left: 10px;
}

/* Pay Now button styling */
.pay-now-button {
  margin-left: 75px;
  width: 70%;
  padding: 15px;
  background-color: #073f0c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
  margin-top: 40px;
}

.pay-now-button:hover {
  background-color: #032b10;
}

/* Wrapper for the terms checkbox and label */
.terms-checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-left: -90px;
}

.terms-checkbox-wrapper input[type="checkbox"] {
  text-align: left;
  margin-right: -100px; /* Add space between checkbox and label */
  margin-left: 0px;
}



/* Responsive design */
@media (max-width: 768px) {
  .content-wrapper {
    flex-direction: column;
  }

  .billing-section, .order-summary-section {
    width: 100%;
    margin: 0;
  }
}


